<!DOCTYPE html>
<html lang="en">
<%- include ../../layout/head.ejs %>
<body>
  <%- include ../../layout/header.ejs %>
  <main>
    <h2>Search Results</h2>
    <% results.forEach(book => { %>
      <section class="book">
        <%- include ../books/detail.ejs %>
        <form class="save-book" action="/save" method="POST">
          <input name="author" type="text" value="<%= book.author %>" required>
          <input name="title" type="text" value="<%= book.title %>" required>
          <input name="image_url" type="text" value="<%= book.image_url %>" required>
          <input name="description" type="text" value="<%= book.description %>" required>
          <input name="isbn" type="text" value="<%= book.isbn %>" required>
          <input name="bookshelf" type="text" placeholder="Bookshelf Name" required>
          <input type="submit" value="Save This Book">
        </form>
        <button class="select-book">Select This Book</button>
      </section>
    <% }); %>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</body>
</html>